	
	* { margin: 0; padding: 0; font-family: '微软雅黑'}

	.container { width: 1170px; min-height: 2273px;  margin: 0 auto; }
	
	.rjdz { background: url('../image/all_png/软件定制服务.png');}

	.div-inblock { display: inline-block; vertical-align: top;}
	
	h1.HStitle { line-height: 220%; padding: 12px 0px 0 48px; font-size: 44px; letter-spacing: 2px;}
	
	div.imgBlock { margin-left: 44px;}

	div.imgBlock2 { margin-left: 98px;}

	div.imgBlock3 { margin-top: 70px;}

	div.imgBlock4 {}
	

	div.artilBlock {  margin-left: 20px;}
	
	div.artilBlock h2 { line-height: 160%; font-size: 31px; letter-spacing: 1px;}
	
	div.artilBlock ul { list-style-position: inside; color: red;}

	div.artilBlock ul li { line-height: 155%; font-size: 20px; white-space:nowrap; }

	div.artilBlock2 { margin-top: 103px; margin-left: 60px;width: 50%;}
	div.artilBlock2 h2 { line-height: 160%; font-size: 31px; letter-spacing: 1px;}
	
	div.artilBlock2 ul { list-style-position: inside; color: red;}

	div.artilBlock2 ul li { line-height: 180%; font-size: 16px; white-space:nowrap; }

	div.artilBlock3 { margin-top: 187px; margin-left: 36px;width: 40%;}

	div.artilBlock3 h2 { line-height: 160%; font-size: 31px; letter-spacing: 1px;}

	div.artilBlock3 p { line-height: 180%; font-size: 16px;}

	div.artilBlock4 { margin-left: 54%;width: 40%; height: 276px; margin-top: 60px;}

	div.artilBlock4 h2 { line-height: 160%; font-size: 31px; letter-spacing: 1px;}

	div.artilBlock4 p { line-height: 180%; font-size: 16px;}
	
	div.artilBlock5 { border-top: 1px solid #fff; height: 240px; width: 90%; margin: 0 auto; }

	div.artilBlock5 h2 { position: relative; top: -25px;  padding: 0 10px; font-size: 31px;  letter-spacing: 1px;  text-align: center;}

	div.artilBlock5 h2 span { padding: 0 20px; background-color: blue;}
	
	div.artilBlock5 ol { list-style:none;  color: red; padding-top: 13px;}

	div.artilBlock5 ol li { height: 150px; margin-left: 57px; display: inline-block; font-size: 16px; white-space:nowrap; text-align: center; letter-spacing: 2px; }

	div.artilBlock5 ol li:first-child { margin-left: 0px;}

	div.artilBlock5 ol li p { margin-top: 10px;}

	div.artilBlock6 {  border-top: 1px solid #fff; width: 90%; margin: 0 auto; }
	div.artilBlock6 h2 {  position: relative; top: -25px; padding: 0 10px; font-size: 31px;  letter-spacing: 1px;  text-align: center;}
	
	div.artilBlock6 h2 span { padding: 0 20px; background-color: blue;}

	div.artilBlock6 ol { list-style-position: outside; padding-left: 46px;  color: red;}

	div.artilBlock6 ol li {  line-height: 190%;  font-size: 16px; white-space:nowrap; }

	/*****************************/